
<div class="container">
    <h2>
        Informacion Acerca de la Aplicacion
      </h2>
    
    
      <p appHighlight>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sapien lacus, aliquet non ex in, molestie tempus augue. In aliquam nulla nec elit tempor porttitor. Donec hendrerit venenatis erat quis rhoncus. Duis ac nisl sit amet libero ultricies pulvinar. Donec sed ullamcorper justo, vel venenatis elit. Vivamus mollis congue nulla a feugiat. Nunc nec dolor a augue malesuada tincidunt eget auctor ante. Nullam sit amet mauris ac dolor vehicula auctor. Phasellus placerat magna id nunc pretium condimentum. Sed condimentum lorem metus.</p>
      <p>Nam ante odio, maximus at auctor vel, rutrum eu enim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut a justo quam. In molestie nulla id hendrerit faucibus. Vestibulum non rhoncus turpis. Ut venenatis purus sit amet rutrum tincidunt. Phasellus luctus tincidunt ante eget tempor. Nunc at dignissim risus. Quisque vitae augue at justo sagittis malesuada. Duis vitae aliquet orci. Nam malesuada feugiat dolor, sed sollicitudin risus mollis sed. Nullam et lacus commodo, ullamcorper tortor sit amet, ultrices leo. Phasellus a suscipit felis. Maecenas id semper massa.</p>
    
    </div>